Adafruit-Blinka==2.5.3
adafruit-circuitpython-busdevice==4.0.0
adafruit-circuitpython-seesaw==1.5.4
Adafruit-PlatformDetect==1.3.4
Adafruit-PureIO==0.2.3
blynklib==0.2.5
pkg-resources==0.0.0
rpi-ws281x==4.2.2
RPi.GPIO==0.7.0
spidev==3.4
sysv-ipc==1.0.0
